NODE_ENV=production
NEXT_PUBLIC_BASE_URL=http://localhost:3000
BETTER_AUTH_SECRET=11223344565aaabbccddEEff!@?
BETTER_AUTH_URL=http://localhost:3000
GEMINI_API_KEY=YOUR_GEMINI_KEY
NODEMAILER_EMAIL=YOURNODEMAILERCREDENTIAL
NODEMAILER_PASSWORD=YOURNODEMAILERPASSWORD
NEXT_PUBLIC_FINNHUB_API_KEY=FINNHUB_FREE_API_KEY