/backend/api-gateway/node_modules
/backend/news-agent/node_modules
/backend/portfolio-advisor/node_modules
/backend/stock-screener/node_modules
/backend/stock-sentiment-analyzer/node_modules
/backend/stock-news-analyzer/node_modules
/backend/stock-news-analyzer/node_modules

/logs
/logs/*
/logs/**
/logs/**/*
/logs/**/**
/logs/**/**/*
/logs/**/**/**
/logs/**/**/**/*
/logs/**/**/**/**
/logs/**/**/**/**/*
/logs/**/**/**/**/**
/logs/**/**/**/**/**/*